<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header::head"></head>

<body>
<div class="vertical-center">
    <div class="container text-center">
        <div th:replace="common/header::header"></div>

        <form id="send-form">
            <input type="hidden" id="csrf" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

            <span class="float-sm-left">현재 비밀번호</span>
            <input type="password" class="form-control form-control-lg" id="oldPassword" placeholder="현재 비밀번호를 입력하세요." required>
            <div class="invalid-feedback" id="validOldPassword"></div>

            <span class="float-sm-left">새로운 비밀번호</span>
            <input type="password" class="form-control form-control-lg" id="newPassword1" placeholder="새로운 비밀번호를 입력하세요." required>
            <input type="password" class="form-control form-control-lg" id="newPassword2" placeholder="새로운 비밀번호 확인을 위해 재입력하세요." required>
            <div class="invalid-feedback" id="validNewPassword"></div>

            <div class="row justify-content-around">
                <button type="button" id="password-btn" class="col-5 btn btn-outline-dark btn-lg">비밀번호 변경하기</button>
                <a class="col-5 btn btn-outline-dark btn-lg" th:href="@{/}">취소</a>
            </div>
        </form>

        <div th:replace="common/footer::footer"></div>
    </div>
</div>

<script>
    $('#password-btn').click(function() {

        <!-- 새로운 비밀번호가 일치하지 않으면 return -->
        if ($('#newPassword1').val() != $('#newPassword2').val()) {
            $('#newPassword1').addClass('is-invalid');
            $('#newPassword2').addClass('is-invalid');
            $('#validNewPassword').html('비밀번호가 일치하지 않습니다.');
            return;
        }
        else {
            $('#newPassword1').removeClass('is-invalid');
            $('#newPassword2').removeClass('is-invalid');
            $('#validNewPassword').html('');
        }

        <!-- 유효성 검사 통과하면 폼 전송 -->
        var formData = {"_csrf": $("#csrf").val(), "oldPassword": $("#oldPassword").val(), "newPassword": $("#newPassword1").val()};
        $.ajax({
            url: '/user/password',
            type: "PUT",
            data: formData,
            success: function () {
                alert("비밀번호 변경이 완료되었습니다. 다시 로그인하세요.");
                location.href = '/';
            },
            error: function (error) {
                alert(error.responseJSON.message);
            }
        });

    });
</script>

</body>
</html>