<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header::head"></head>

<body>
<div class="vertical-center">
    <div class="container text-center">
        <div th:replace="common/header::header"></div>

        <form id="send-form" method="post">
            <input type="hidden" id="csrf" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <input type="email" class="form-control form-control-lg" id="email" name="email" placeholder="가입한 이메일">
            <div class="invalid-feedback" id="validEmail"></div>
            <button type="button" id="send-btn" class="col btn btn-outline-dark btn-lg">임시 비밀번호 발송</button>
        </form>

        <div th:replace="common/footer::footer"></div>
    </div>
</div>

<script>
$('#send-btn').click(function() {
    <!-- 이메일이 형식에 맞지 않으면 return -->
    if ($('#email').val().indexOf('@') == -1) {
        $('#email').addClass('is-invalid');
        $('#validEmail').html('이메일 형식이 올바르지 않습니다.');
        return;
    }
    else {
        $('#email').removeClass('is-invalid');
        $('#validEmail').html('');
    }

    <!-- 유효성 검사 통과하면 폼 전송 -->
    var formData = $('#send-form').serialize();
    $.ajax({
       url: '/user/send-temp-password',
       type: "POST",
       data: formData,
       success: function () {
           alert('이메일로 임시 비밀번호가 발송되었습니다.');
           location.href = '/';
       },
       error: function (error) {
           alert(error.responseJSON.message);
       }
   });
});
</script>

</body>
</html>