<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="common/header::head"></head>

<body>
<div class="vertical-center">
    <div class="container text-center">
        <div th:replace="common/header::header"></div>

        <form sec:authorize="isAnonymous()" id="login-form">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <!-- UserService의 loadUserByUsername 메소드를 사용하기 위해서 name="username"으로 설정 -->
            <input type="email" class="form-control form-control-lg" name="username" id="email" placeholder="이메일">
            <div class="invalid-feedback" id="validEmail"></div>
            <input type="password" class="form-control form-control-lg" name="password" id="password" placeholder="비밀번호">
            <div class="invalid-feedback" id="validPassword"></div>
            <button type="button" id="login-btn" class="col btn btn-outline-dark btn-lg">로그인</button>
            <a class="col btn btn-outline-dark btn-lg" th:href="@{/user/signup}">회원가입</a>
            <a class="col btn btn-outline-dark btn-lg" th:href="@{/user/find-password}">비밀번호 찾기</a>
        </form>

        <form sec:authorize="hasRole('ROLE_USER')" id="user-form">
            <input type="hidden" class="csrf" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <span sec:authentication="name"></span>님 환영합니다!
            <a class="col btn btn-outline-dark btn-lg" th:href="@{/user/setting}">구독 게시판 설정</a>
            <a class="col btn btn-outline-dark btn-lg" th:href="@{/}">비밀번호 변경</a>
            <a class="col btn btn-outline-dark btn-lg" th:href="@{/user/logout}">로그아웃</a>
            <button type="button" class="signout-btn col btn btn-outline-dark btn-lg">탈퇴하기</button>
        </form>

        <form sec:authorize="hasRole('ROLE_TEMP')" id="temp-form">
            <input type="hidden" class="csrf" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <span sec:authentication="name"></span><span>님 환영합니다!</span><br />
            <span>수정구 서비스는 이메일 인증이 필수입니다.</span><br />
            <span>이메일로 전송된 인증링크를 클릭하여 계정을 활성화하세요.</span>
            <a class="col btn btn-outline-dark btn-lg" th:href="@{/}">인증 메일 다시 보내기</a>
            <a class="col btn btn-outline-dark btn-lg" th:href="@{/user/logout}">로그아웃</a>
            <button type="button" class="signout-btn col btn btn-outline-dark btn-lg">탈퇴하기</button>
        </form>

        <div sec:authorize="hasRole('ROLE_ADMIN')">
            <a class="col btn btn-outline-dark btn-lg" th:href="@{/user/logout}">로그아웃</a>
        </div>

        <div th:replace="common/footer::footer"></div>
    </div>
</div>

<script>
$('#login-btn').click(function() {

    <!-- 이메일이 형식에 맞지 않으면 return -->
    if ($('#email').val().indexOf('@') == -1) {
        $('#email').addClass('is-invalid');
        $('#validEmail').html('이메일 형식이 올바르지 않습니다.');
        return;
    }
    else {
        $('#email').removeClass('is-invalid');
        $('#validEmail').html('');
    }

    <!-- 비밀번호가 입력되지 않았으면 return -->
    if ($('#password').val().length == 0) {
        $('#password').addClass('is-invalid');
        $('#validPassword').html('비밀번호를 입력해주세요.');
        return;
    }
    else {
        $('#password').removeClass('is-invalid');
        $('#validPassword').html('');
    }

    <!-- 유효성 검사 통과하면 폼 전송 -->
    var formData = $('#login-form').serialize();
    $.ajax({
        url: '/user/login',
        type: "POST",
        data: formData,
        success: function () {
            location.href = '/';
        },
        error: function (error) {
            alert(error.responseJSON.message);
        }
    });
});

$('.signout-btn').click(function() {

    // 탈퇴 의사 재확인
    var result = confirm("정말 탈퇴하시겠습니까?");

    if (result == true) {
        var formData = {"_csrf": $('.csrf').val()}
        $.ajax({
            url: '/user/signout',
            type: "DELETE",
            data: formData,
            success: function () {
                alert("탈퇴가 완료되었습니다.");
                location.href = '/';
            },
            error: function (error) {
                console.log(error);
            }
        });
    }
});
</script>

</body>
</html>